.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #af83ff;
    padding: 10px;
  }
  
  .navbar__left {
    display: flex;
    align-items: center;
  }
  
  .navbar__title {
    margin: 0;
    cursor: pointer;
  }
  
  .navbar__right {
    display: flex;
    align-items: center;
  }
  
  .navbar__list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
  }
  .navbar__item {
    margin-left: 10px;
  }
  .navbar__link {
    color: #222222;
    text-decoration: none;
    padding: 16px 8px;
  }
  
  /* Hover effect for the links */
  .navbar__link:hover {
    background-color: #e7e7e7;
  }
  