.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 10px;
  }
  
  .navbar__left {
    display: flex;
    align-items: center;
  }
  
  .navbar__title {
    margin: 0;
  }
  
  .navbar__right {
    display: flex;
    align-items: center;
  }
  
  .navbar__button {
    margin-right: 10px;
  }
  